.web-body {
    font-family: Bree Serif;
    background: url(background_2.jpg);
    text-align: center;
}

@media only screen and (max-width: 768px) {

    /* For mobile phones: */
    nav {
        height: 19vw;
        background-color: rgba(218, 247, 220, 0.8);
    }

    .nav-div {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 19vw;
    }

    .nav-div a {
        font-size: 6vw;
    }

    .main-class {
        height: 117vw;
        margin: auto;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .main-class h1 {
        font-size: 7vw;
        border-bottom: solid;
        border-top: solid;
        width: 90%;
        margin-bottom: 3vw;
    }

    .main-class div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .socmed-icon {
        width: 6vw;
        margin-left: 0.9vw;
        margin-right: 0.9vw;
    }

    .socmed-icon-twitter {
        width: 7vw;
    }

    .socmed-icon-ig {
        width: 5.9vw;
    }

    .socmed-icon-linkedin {
        width: 4.9vw;
    }

    .footer-div {
        width: 100%;
        height: 10vw;
        text-align: center;
        bottom: 0;
        position: fixed;
        background-color: rgba(218, 247, 220, 0.7);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3vw;
    }

    .footer-div p {
        margin-top: 2vw;
    }
}

@media only screen and (min-width: 769px) {

    /* For desktop: */
    .web-body {
        background-size: 100%;
    }

    nav {
        background-color: rgba(218, 247, 220, 0.8);
    }

    .nav-div {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 3vw;
    }

    .nav-div a {
        font-size: 2vw;
    }

    .main-class {
        height: 40.5vw;
        margin: auto;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .main-class h1 {
        font-size: 4vw;
        border-bottom: solid;
        border-top: solid;
        width: 80%;
        margin-bottom: 3vw;
    }

    .main-class div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .socmed-icon {
        width: 4vw;
        margin-left: 0.9vw;
        margin-right: 0.9vw;
    }

    .socmed-icon-twitter {
        width: 4.5vw;
    }

    .socmed-icon-ig {
        width: 3.8vw;
    }

    .socmed-icon-linkedin {
        width: 3.6vw;
    }

    .footer-div {
        background-color: rgba(218, 247, 220, 0.7);
        width: 100%;
        bottom: 0;
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5vw;
        height: 3.5vw;
    }

    .footer-div p {
        margin-top: 1vw;
    }

}
